    <div class="container">
      <div class="py-5 text-center">
        <h2>Cadastro de Alunos</h2>
        <p class="lead">Preencha o formulario e faça seu cadastro</p>
      </div>

      <div class="row">


        <div class="col">
          <h4 class="mb-3">Aluno</h4>
          <form class="needs-validation" #cadastro = "ngForm" (submit)="cadastrar()">
            <div class="row"><!-- Inicio da row1 -->
              <div class="col-md-6 mb-3">
                <label for="primeiroNome">Nome<span class="text-muted">*</span></label>
                <input type="text" class="form-control" [(ngModel)]= "nome" name="nome" #nomeV="ngModel" required
                [class.is-invalid]="nomeV.invalid && (nomeV.dirty || nomeV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(nomeV.invalid && (nomeV.dirty || nomeV.touched))">Informe o nome completo.</small>
                <div *ngIf="nomeV.invalid && (nomeV.dirty || nomeV.touched)" class="invalid-feedback">
                  <span *ngIf="nomeV.errors.required">Você precisa informar o nome!</span>
                </div>

              </div>

              <div class="col-md-3 mb-3">
                <label for="sobrenome">data de Nascimento<span class="text-muted">*</span></label>
                <input type="date" class="form-control" [(ngModel)]= "data" name="data" #dataV="ngModel" required
                [class.is-invalid]="dataV.invalid && (dataV.dirty || dataV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(dataV.invalid && (dataV.dirty || dataV.touched))">Informe a data de nascimento.</small>
                <div *ngIf="dataV.invalid && (dataV.dirty || dataV.touched)" class="invalid-feedback">
                  <span *ngIf="dataV.errors.required">Você precisa informar a data de nascimento!</span>
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <label for="sobrenome">Sexo<span class="text-muted">*</span></label><br>
                <input type="radio" id="Masculino" [(ngModel)]= "sexo" name="sexo" #sexoV="ngModel" value="Masculino" required
                [class.is-invalid]="sexoV.invalid && (sexoV.dirty || sexoV.touched)">
                <label for="Masculino" class="ml-1 mr-3">Masculino</label>
                <input type="radio" id="Feminino" [(ngModel)]= "sexo" name="sexo" #sexoV="ngModel" value="Feminino" required
                [class.is-invalid]="sexoV.invalid && (sexoV.dirty || sexoV.touched)">
                <label for="Feminino" class="ml-1">  Feminino</label>
                <small class="form-text text-muted"
                  *ngIf="!(sexoV.invalid && (sexoV.dirty || sexoV.touched))">Informe o sexo.</small>
                <div *ngIf="sexoV.invalid && (sexoV.dirty || sexoV.touched)" class="invalid-feedback">
                  <span *ngIf="sexoV.errors.required">Você precisa informar o sexo</span>
                </div>
              </div>
            </div><!-- Fim da row1 -->

            <div class="row"><!-- Inicio da row2 -->
              <div class="col-md-3 mb-3">
                <label for="CPF">CPF <span class="text-muted">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]= "cpf" name="cpf" #cpfV="ngModel" required
                  [class.is-invalid]="cpfV.invalid && (cpfV.dirty || cpfV.touched)">
                  <small class="form-text text-muted"
                  *ngIf="!(cpfV.invalid && (cpfV.dirty || cpfV.touched))">Informe o CPF.</small>
                  <div *ngIf="cpfV.invalid && (cpfV.dirty || cpfV.touched)" class="invalid-feedback">
                    <span *ngIf="cpfV.errors.required">Você precisa informar o CPF.</span>
                  </div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="email">Email <span class="text-muted">*</span></label>
                <input type="email" class="form-control" [(ngModel)]= "email" name="email" #emailV="ngModel" placeholder="fulano@exemplo.com" required
                [class.is-invalid]="emailV.invalid && (emailV.dirty || emailV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(cpfV.invalid && (cpfV.dirty || cpfV.touched))">Informe o E-mail.</small>
                <div *ngIf="cpfV.invalid && (cpfV.dirty || cpfV.touched)" class="invalid-feedback">
                  <span *ngIf="cpfV.errors.required">Você precisa informar o E-mail.</span>
                </div>
              </div>

              <div class=" col-md-3 mb-3">
                <label for="endereco">Telefone<span class="text-muted">*</span></label>
                <input type="text" class="form-control" [(ngModel)]= "telefone" name="telefone" #telefoneV="ngModel" placeholder="(00) 0000-0000" required
                [class.is-invalid]="telefoneV.invalid && (telefoneV.dirty || telefoneV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(telefoneV.invalid && (telefoneV.dirty || telefoneV.touched))">Informe o numero de telefone.</small>
                <div *ngIf="telefoneV.invalid && (telefoneV.dirty || telefoneV.touched)" class="invalid-feedback">
                  <span *ngIf="telefoneV.errors.required">Você precisa informar o numero de telefone.</span>
                </div>
              </div>
            </div><!-- Fim da row2 -->

            <div class="mb-3">
              <label for="endereco">Endereço<span class="text-muted">*</span></label>
              <input type="textarea" minlength=30 class="form-control"[(ngModel)]= "endereco" name="endereco" #enderecoV="ngModel" placeholder="Rua 01, nº 0" required
              [class.is-invalid]="enderecoV.invalid && (enderecoV.dirty || enderecoV.touched)">
              <small class="form-text text-muted"
                  *ngIf="!(enderecoV.invalid && (enderecoV.dirty || enderecoV.touched))">Informe o endereço completo.</small>
              <div *ngIf="enderecoV.invalid && (enderecoV.dirty || enderecoV.touched)" class="invalid-feedback">
                <span *ngIf="enderecoV.errors">Você precisa informar o endereço completo, minimo de 30 caracteres.</span>
              </div>
            </div>



            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="estado">Estado<span class="text-muted">*</span></label>
                <select class="custom-select d-block w-100 mb-1" [(ngModel)]="ufSelect" name="uf" #estadoV="ngModel" required
                [class.is-invalid]="estadoV.invalid && (estadoV.dirty || estadoV.touched)">
                  <option value="">Escolha...</option>
                  <option *ngFor="let item of uf">{{item.sigla}}</option>
                </select>
                <small class="form-text text-muted"
                  *ngIf="!(estadoV.invalid && (estadoV.dirty || estadoV.touched))">Selecione UF do estado.</small>
              <div *ngIf="estadoV.invalid && (estadoV.dirty || estadoV.touched)" class="invalid-feedback">
                <span *ngIf="estadoV.errors.required">Você precisa selecionar o UF do estado</span>
              </div>
              </div>

              <div class="col-md-3 mb-3">
                <label for="cep">CEP<span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="cep" [(ngModel)]="cep" name="cep" #cepV="ngModel" required
                [class.is-invalid]="cepV.invalid && (cepV.dirty || cepV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(cepV.invalid && (cepV.dirty || cepV.touched))">Informe o cep.</small>
                <div *ngIf="cepV.invalid && (cepV.dirty || cepV.touched)" class="invalid-feedback">
                  <span *ngIf="cepV.errors.required">Você precisa informar o cep.</span>
                </div>
              </div>

              <div class="col mb-3">
                <label for="cep">Cidade<span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="cidade" [(ngModel)]="cidade" name="cidade" #cidadeV="ngModel" required
                [class.is-invalid]="cidadeV.invalid && (cidadeV.dirty || cidadeV.touched)">
                <small class="form-text text-muted"
                  *ngIf="!(cepV.invalid && (cepV.dirty || cepV.touched))">Informe a cidade.</small>
                <div *ngIf="cepV.invalid && (cepV.dirty || cepV.touched)" class="invalid-feedback">
                  <span *ngIf="cepV.errors.required">Você precisa informar a cidade.</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="estado">Turmas<span class="text-muted">*</span></label>
                <select class="custom-select d-block w-100 mb-1" multiple id="estado" [(ngModel)]="turmasSelect" name="turmas" #turmasV="ngModel" required
                [class.is-invalid]="turmasV.invalid && (turmasV.dirty || turmasV.touched)" [disabled] = "documentosV.invalid">
                  <option *ngFor="let item of turmas">{{item}}</option>
                </select>
                <small class="form-text text-muted"
                  *ngIf="!(turmasV.invalid && (turmasV.dirty || turmasV.touched))">
                  Selecione as turmas.<br>Utilize CTRL para multiplas seleção.
                </small>
              </div>

            </div>

            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="endereco" [(ngModel)]="documentos" name='dacumento' #documentosV="ngModel" required
              [class.is-invalid]="documentosV.invalid && (documentosV.dirty || documentosV.touched)">
              <label class="custom-control-label" for="endereco">documentos validados na secretaria.</label>
            </div>
            <hr class="mb-4">
            <div class="row">
              <button class="btn btn-primary btn-lg btn-block" [disabled] = "cadastro.invalid" type="submit">Concluir cadastro</button>
            </div>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">2020/01 Limguagem de programação para Web</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Prof. Jackson Gomes</a></li>
          <li class="list-inline-item"><a href="#">Academico Cleiton Luiz</a></li>
        </ul>
      </footer>
    </div>

<router-outlet></router-outlet>
